/* * {
    padding: 0;
    margin: 0;
    text-decoration: none;
} */

.contain {
    display: flex;
}

main {
    width: 100%;
    padding: 0px;
    background: none;
}

.sidebar {
    background: linear-gradient(rgba(2, 0, 15, 1), rgba(46, 0, 8, 0));
    padding: 10px;
    transition: all 0.1s;
}

.top {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 10px;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 2rem;
    cursor: pointer;


}



.sidebar h2 {
    padding: 5px;
    margin-bottom: 0;
}

.sidebar h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;

}

.accordion>.card {
    margin: 0 !important;
}

.sidebar .card-header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #ab628b;
    /* background-color: #ce3e86; */
    border: 2px solid #fff;
}

.streams .stream {
    margin: 0;
}

.streams .stream button {
    background-color: #b66995;
    color: white;
    border: none;
    text-decoration: none;
    box-shadow: none;
}

.sidebar .card-body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sem {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    border: 1px solid #b66995;
    padding: 3px;
}

.sems {
    color: #be086f;
    font-size: large;
}

.sems:hover {
    color: #b66995;
    text-decoration: none;
    font-weight: 500;
}

.active {
    text-decoration: none;
}

/* OTHER */
.other {
    margin-top: 4rem;
    color: #fff;
}

.academic {
    color: #fff;
    text-align: center;


}